
@{
    ViewBag.Title = "AddDept";
}

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#adddept").click(function () {
                var input = document.getElementById('deptbtn').value;
                if (input == null || input == undefined || input == "") {
                    alert('dept cant be empty');
                }
                else {
                    window.location.href = "/Home/AddDept1?value="+input;
                }
                
            });
        });
    </script>
</head>
<body>
    <div class="container">
        <br /><br />
        <input type="text" id="deptbtn" placeholder="DeptName" />
        <br /><br />
        <button class="btn btn-primary" id="adddept" value="Add Department">Add</button><br /><br />
    </div>
</body>
</html>

