
@{
    ViewBag.Title = "EditEmp1";
}
@if (ViewBag.empid == 0)
{
    <h1>No employee esist with entered emp id</h1>
}
else
{
    <h1>Employee with @ViewBag.empid is changed to Manager designation</h1>
}


